<form>
	<div class="row">
	    <div class="six columns offset-by-three">
	    	<h2>Login</h2>
			<label for="loginEmail">Email</label>
			<input class="u-full-width" type="email" placeholder="me@mydomain.com" id="loginEmail">
			<label for="loginPassword">Password</label>
			<input class="u-full-width" type="password" placeholder="" id="loginPassword">
			<label class="u-pull-left">
				<input type="checkbox">
				<span class="label-body">Remember me</span>
			</label>
			<input class="button-primary u-pull-right" type="submit" value="Login">
	    </div>
	</div>
</form>